<?xml version="1.0"?>
<!-- 
    usage: 
    export MISSION_NAME: coex_left
    export DATE=$(date "+%Y-%m-%d_%H-%M-%S")
    mkdir ${MISSION_NAME}_${DATE}
    roslaunch kaist_rosbag kaist_rosbag.launch record_folder:=$(pwd)/{MISSION_NAME}_${DATE} 
-->

<launch>

    <arg name="trigger_topic_name" default="/scout/mavros/state" />
    <arg name="record_script" default="$(find kaist_rosbag)/config/record_topics.sh" />
    <arg name="record_folder" default="$(find kaist_rosbag)/bags" />
    <arg name="verbose" default="false" />

    <node name="kaist_rosbag" pkg="kaist_rosbag" type="kaist_rosbag.py" output="screen">
        <param name="record_script" value="$(arg record_script)" />
        <param name="record_folder" value="$(arg record_folder)" />
        <param name="trigger_topic_name" value="$(arg trigger_topic_name)" />
        <param name="verbose" value="$(arg verbose)" />
    </node>

</launch>